USE [master]
GO
/****** Object:  Database [TAXWEB]    Script Date: 18/11/2015 05:24:21 ******/
CREATE DATABASE [TAXWEB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TAXWEB', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\TAXWEB.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'TAXWEB_log', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\TAXWEB_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TAXWEB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TAXWEB]
GO
/****** Object:  Table [dbo].[tb_dados]    Script Date: 18/11/2015 05:24:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tb_dados](
	[idregistro] [int] IDENTITY(1,1) NOT NULL,
	[comprador] [varchar](100) NULL,
	[descricao] [varchar](100) NULL,
	[preco] [decimal](18, 2) NULL,
	[quantidade] [int] NULL,
	[endereco] [varchar](200) NULL,
	[fornecedor] [varchar](200) NULL,
 CONSTRAINT [PK_tb_dados] PRIMARY KEY CLUSTERED 
(
	[idregistro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  StoredProcedure [dbo].[gravatax]    Script Date: 18/11/2015 05:24:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[gravatax]
@comprador varchar(100)
,@descricao varchar(100)
,@preco decimal (18,2)
,@quantidade int
,@endereco varchar(200)
,@fornecedor varchar(200)
as begin
insert into tb_dados(comprador,descricao,preco,quantidade,endereco,fornecedor)values(@comprador,@descricao,@preco,@quantidade,@endereco,@fornecedor)
end
GO
/****** Object:  StoredProcedure [dbo].[listatax]    Script Date: 18/11/2015 05:24:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[listatax]
as begin
select comprador,descricao,preco,quantidade,endereco,fornecedor from tb_dados
end
GO
/****** Object:  StoredProcedure [dbo].[listataXTOTAL]    Script Date: 18/11/2015 05:24:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[listataXTOTAL]
as begin
select SUM(preco) AS TOTAL from tb_dados
end
GO
USE [master]
GO
